body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

main {
    height: auto;
}

.under-construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $secondary;
    img {
        object-fit: contain;
    }
}