<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockquotes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../scripts/main.js" type="module"></script>
</head>
<body>
    <header></header>
    <main>
        <h2 class="title title-bars title-mono">Block Quotes</h2>

       <div class="blockquote blockquote-calm" cite="b-lemke.github.io">
           <div class="blockquote-image">
            <img src="../../assets/images/tobysquare.jpg">
           </div>
           <div class="blockquote-quote">
            <div class="blockquote-text">"Cage matches? Yeah, they work. How could they not work? If they didn't work, everybody would still be in the cage. Thus, Michael Scott sealed his own destiny... in a good way, yeah. Me neither, that's a ridiculous question, why was she in this building? Why is my office black? Yeah, I just moved it an inch every time he went to the bathroom. And that's how I spent my entire day that day."</div>
            <div class="blockquote-attribution">&mdash; Michael Scott</div>
           </div>
       </div>
       <div class="blockquote blockquote-bright" cite="b-lemke.github.io">
        <div class="blockquote-image">
         <img src="../../assets/images/tobysquare.jpg">
        </div>
        <div class="blockquote-quote">
         <div class="blockquote-text">"Cage matches? Yeah, they work. How could they not work? If they didn't work, everybody would still be in the cage. Thus, Michael Scott sealed his own destiny... in a good way, yeah. Me neither, that's a ridiculous question, why was she in this building? Why is my office black? Yeah, I just moved it an inch every time he went to the bathroom. And that's how I spent my entire day that day."</div>
         <div class="blockquote-attribution">&mdash; Michael Scott</div>
        </div>
    </div>
    <div class="blockquote blockquote-bold" cite="b-lemke.github.io">
        <div class="blockquote-image">
         <img src="../../assets/images/tobysquare.jpg">
        </div>
        <div class="blockquote-quote">
         <div class="blockquote-text">"Cage matches? Yeah, they work. How could they not work? If they didn't work, everybody would still be in the cage. Thus, Michael Scott sealed his own destiny... in a good way, yeah. Me neither, that's a ridiculous question, why was she in this building? Why is my office black? Yeah, I just moved it an inch every time he went to the bathroom. And that's how I spent my entire day that day."</div>
         <div class="blockquote-attribution">&mdash; Michael Scott</div>
        </div>
    </div>

    <div class="blockquote blockquote-bold" cite="b-lemke.github.io">
        <div class="blockquote-quote">
         <div class="blockquote-text">"Cage matches? Yeah, they work. How could they not work? If they didn't work, everybody would still be in the cage. Thus, Michael Scott sealed his own destiny... in a good way, yeah. Me neither, that's a ridiculous question, why was she in this building? Why is my office black? Yeah, I just moved it an inch every time he went to the bathroom. And that's how I spent my entire day that day."</div>
         <div class="blockquote-attribution">&mdash; Michael Scott</div>
        </div>
    </div>
    </main>
    <footer></footer>
</body>
</html>