<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gists</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../scripts/main.js" type="module"></script>
</head>
<body>
    <header></header>
    <main>
        <script src="https://gist.github.com/B-Lemke/a53d8dcdedb3e4c4ad8e98e99f5f6746.js"></script>
    </main>
    <footer></footer>
</body>
</html>