$calm-color: #00cec9;
$bold-color: #ff7675;
$bright-color: #ffeaa7;


$primary: #00cec9;
$secondary: #ff7675;
$success: #00b894;
$info: #ffeaa7;
$warning: #e17055;
$danger: #d63031;
$light: #dfe6e9;
$dark: #2d3436;